$headerTabletHeight:     80px;
$headerSmartPhoneHeight: 48px;
$contentsMaxWidth:     1024px;
$footerTabletHeight:     80px;
$footerSmartPhoneHeight:140px;

$cLightGray:             #ddd;
$cBlack:                 #222;
$cWhite:                 #fff;
$cMobileButton:       $cBlack;
$cPrimary:            #7dd7ff;

@mixin contentsBasicWidth() {
  width: calc(100% - 24px);
  max-width: $contentsMaxWidth;
  margin: 0 auto;
}

* {
  color: $cBlack;
}

.header {
  height: $headerSmartPhoneHeight;
  background-color: $cPrimary;
  transition: all 0.3s;
  border-bottom: 1px solid $cLightGray;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @include contentsBasicWidth();
}

.header__title {
  font-size: 24px;
  font-weight: bold;

  & > a {
    text-decoration: none;
  }
}

.header__nav {
  display: none;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__item {
  display: inline-block;
  padding: 12px;

  & > a {
    text-decoration: none;
  }
}

.mobile__button {
  position: relative;
  width: 20px;
  height: 20px;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: $cMobileButton;
    width: 100%;
    height: 2px;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      top: 20%;
    }
    &:nth-child(3) {
      top: 80%;
    }
  }
}

.mobile__nav {
  position: absolute;
  top: calc(#{$headerSmartPhoneHeight} + 1px);
  left: 0;
  display: none;
  width: 100%;

  &.show {
    display: block;
  }
}

.mobile__list {
  padding: 0;
  margin: 0;
}

.mobile__item {
  background-color: $cPrimary;
  padding: 4px;
  border-bottom: 1px solid $cLightGray;

  & > a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 8px;
  }
}

.main {
  background-color: $cLightGray;
}

.main__contents {
  height: 100%;
  background-color: $cWhite;
  @include contentsBasicWidth();
  padding: 24px 0;
}

.footer {
  background-color: $cPrimary;
  height: $footerSmartPhoneHeight;
  text-align: center;
}

.footer__nav {
  padding-top: 16px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0 0 14px 0;
  margin: 0;
}

.footer__item {
  padding: 4px;

  & > a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .header {
    height: $headerTabletHeight;
  }
  .header__nav {
    display: block;
  }

  .mobile__button,
  .mobile__nav.show {
    display: none;
  }

  .footer {
    height: $footerTabletHeight;
  }

  .footer__list {
    flex-direction: row;
    justify-content: center;
  }
}
